RewriteEngine On
RewriteCond %{HTTPS} !on

# Redirect all HTTP to HTTPS
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirect anything except subdomains
RewriteCond %{HTTP_HOST} ^irievibes\.be$
RewriteRule (.*) http://www.irievibes.be/$1 [R=301,L]
RewriteRule ^$ nl [L]

# Redirect the subdomains to their subfolders, only if listed in the brackets
RewriteCond %{HTTP_HOST} ^(en|nl|fr)\.irievibes\.be
RewriteRule ^(.*)$ http://www.irievibes.be/$1 [L]

# Redirect tickets subdomain to tickets page
RewriteCond %{HTTP_HOST} ^(tickets)\.irievibes\.be
RewriteRule ^(.*)$ https://irie-vibes.eventsquare.co/nl/twkjzziqfhhu/9eicer23c4cx [L]

# Redirect live subdomain to live page
RewriteCond %{HTTP_HOST} ^(live)\.irievibes\.be
RewriteRule ^(.*)$ http://www.irievibes.be/nl/lineup/livestream/ [L]

# Redirect newsletters folder to the Mailchimp archive page
RewriteCond %{HTTP_HOST} ^(newsletter)\.irievibes\.be
RewriteRule ^(.*)$ https://us8.campaign-archive.com/home/?u=d99c4a0da87cf14cbb7acb09c&id=ec0420bb34 [L,R]

<FilesMatch "\.(png|webp|jpg|woff2|svg|js|)$">
Header set Cache-Control "public, max-age=7200"
</FilesMatch>

ErrorDocument 404 /404.php
ErrorDocument 403 /403.php