RewriteEngine On
RewriteCond %{HTTPS} !on

# Redirect all HTTP to HTTPS
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirect anything except subdomains
RewriteCond %{HTTP_HOST} ^irievibes\.be$
RewriteRule (.*) http://www.irievibes.be/$1 [R=301,L]
RewriteRule ^$ nl [L]

# Redirect the subdomains to their subfolders, only if listed in the brackets
RewriteCond %{HTTP_HOST} ^(en|nl|fr)\.irievibes\.be
RewriteRule ^(.*)$ http://www.irievibes.be/$1 [L,NC]

# Redirect tickets subdomain to tickets page
RewriteCond %{HTTP_HOST} ^(tickets)\.irievibes\.be
RewriteRule ^(.*)$ http://www.irievibes.be/nl/tickets/ [L,NC]

Redirect 301 tickets.irievibes.be www.irievibes.be/nl/tickets/

Redirect 301 /src/static/grondplan_camping.pdf /src/static/groundplan_backtotheroots.pdf 
Redirect 301 /src/static/spotify/ https://open.spotify.com/playlist/2Wgmu4URI3nwnRRCGTi5dq

Redirect 301 /en/info/trim_the_footprint/ /en/info/trim-the-footprint/
Redirect 301 /nl/info/trim_the_footprint/ /nl/info/trim-the-footprint/
Redirect 301 /fr/info/trim_the_footprint/ /fr/info/trim-the-footprint/

RedirectMatch 301 /en/info/trim-the-footprint/(.*) /en/info/eco/trim-the-footprint/
RedirectMatch 301 /nl/info/trim-the-footprint/(.*) /nl/info/eco/trim-the-footprint/
RedirectMatch 301 /fr/info/trim-the-footprint/(.*) /fr/info/eco/trim-the-footprint/

RedirectMatch 301 /en/festival/kortemark_conge/ /en/festival/kortemark-conge/
RedirectMatch 301 /nl/festival/kortemark_conge/ /nl/festival/kortemark-conge/
RedirectMatch 301 /fr/festival/kortemark_conge/ /fr/festival/kortemark-conge/

<FilesMatch "\.(png|webp|jpg|woff2|svg|js|)$">
Header set Cache-Control "public, max-age=7200"
</FilesMatch>

ErrorDocument 404 /404.php
ErrorDocument 403 /403.php