RewriteEngine On
RewriteCond %{HTTPS} !on

# Redirect all HTTP to HTTPS
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirect anything except subdomains
RewriteCond %{HTTP_HOST} !^(shop|tickets|en|fr|nl)\.irievibes\.be$ [NC]

# Redirect to irievibes.be/nl/ from irievibes.be, preserving the URI
RewriteRule ^/$ https://www.irievibes.be/nl/ [L,R=301]

# Redirect the language and tickets subdomains
RewriteCond %{HTTP_HOST} ^tickets.irievibes.be$
RewriteRule ^/$ https://irievibes.be/nl/tickets/ [R=301,L]

Redirect 301 /src/static/grondplan_camping.pdf /src/static/groundplan_backtotheroots.pdf 
Redirect 301 /src/static/spotify/ https://open.spotify.com/playlist/2Wgmu4URI3nwnRRCGTi5dq

Redirect 301 /en/info/trim_the_footprint/ /en/info/trim-the-footprint/
Redirect 301 /nl/info/trim_the_footprint/ /nl/info/trim-the-footprint/
Redirect 301 /fr/info/trim_the_footprint/ /fr/info/trim-the-footprint/

RedirectMatch 301 /en/info/trim-the-footprint/(.*) /en/info/eco/trim-the-footprint/
RedirectMatch 301 /nl/info/trim-the-footprint/(.*) /nl/info/eco/trim-the-footprint/
RedirectMatch 301 /fr/info/trim-the-footprint/(.*) /fr/info/eco/trim-the-footprint/

<FilesMatch "\.(png|webp|jpg|woff2|svg|js|)$">
Header set Cache-Control "public, max-age=7200"
</FilesMatch>
 