<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	      <cms_home_page>necessary-home</cms_home_page>
		<general_section>
			<layout>
			      <small_logo_src>logo_small.png</small_logo_src>
			      <enable_rtl>0</enable_rtl>
				<disable_responsive>1</disable_responsive>
				<box_wide>0</box_wide>
				<sticky_menu>1</sticky_menu>
				<default_top_navigation>0</default_top_navigation>
			</layout>
			<general_blocks>
				<handle_login_form>2</handle_login_form>
				<popup_block>2</popup_block>
			</general_blocks>
		</general_section>
		<css>
			<custom_css_group>
				<additional_css_file></additional_css_file>
				<custom_css>0</custom_css>
			</custom_css_group>				
		</css>
		<fonts>
			<fonts_group>
				<google_font_key>AIzaSyCZ6wqklkyJFXWvoxvA5Zv0SGzHTd6JbbI</google_font_key>
				<google_fonts>Lato</google_fonts>
				<google_fonts_weights>200,300,400,500,600,700,800</google_fonts_weights>
				<general_font>500 12px/1.55 Lato,Helvetica Neue, Helvetica, Arial, sans-serif</general_font>
				<h1_font>500 30px/1.15 Lato, Helvetica Neue, Helvetica, Arial, sans-serif</h1_font>
				<h2_font>700 20px/1.35 Lato, Helvetica Neue, Helvetica, Arial, sans-serif</h2_font>
				<h3_font>700 18px/1.35 Lato, Helvetica Neue, Helvetica, Arial, sans-serif</h3_font>
				<h4_font>700 16px/1.35 Lato, Helvetica Neue, Helvetica, Arial, sans-serif</h4_font>
				<h5_font>500 14px/1.35 Lato, Helvetica Neue, Helvetica, Arial, sans-serif</h5_font>
				<h6_font>600 11px/1.35 Lato,Helvetica, Arial, sans-serif</h6_font>
			</fonts_group>				
		</fonts>
		<page>
			<page_group>
				<page_bg_color>#fbe2de</page_bg_color>
				<page_bg_image></page_bg_image>
				<page_bg_file></page_bg_file>
				<page_bg_position>0 0</page_bg_position>
				<page_bg_repeat>repeat</page_bg_repeat>
				<page_bg_attachment>fixed</page_bg_attachment>
				<box_shadow>0 0 5px #ffffff</box_shadow>
				<rounded_corner>5px</rounded_corner>
			</page_group>				
		</page>
		<header>
			<header_group>
				<header_bg_color>#ffffff</header_bg_color>
				<header_top_bg_color>#f1f1f1</header_top_bg_color>
				<header_cart_bg_color>#252525</header_cart_bg_color>
				<header_search_bg_color>#ffffff</header_search_bg_color>
				<header_dropdown_bg_color>#ffffff</header_dropdown_bg_color>
				<header_bg_image></header_bg_image>
				<header_bg_file></header_bg_file>
				<header_bg_position>0 0</header_bg_position>
				<header_bg_repeat>repeat</header_bg_repeat>
			</header_group>
			<header_color_group>
				<header_text_color>#a1a1a1</header_text_color>
				<header_text_hover_color>#e14040</header_text_hover_color>
				<header_cart_text_color>#e14040</header_cart_text_color>
				<header_dropdown_text_color>#282828</header_dropdown_text_color>
				<header_search_text_color>#808080</header_search_text_color>
				<header_line_color>#e1e1e1</header_line_color>
			</header_color_group>
		</header>
		<menu>
			<top_menu_group>
				<topmenu_bg_color>#252525</topmenu_bg_color>
				<topmenu_item_bg_color>#252525</topmenu_item_bg_color>
				<topmenu_item_hover_bg_color>#ffffff</topmenu_item_hover_bg_color>
				<topmenu_text_color>#ffffff</topmenu_text_color>
				<topmenu_hover_text_color>#e14040</topmenu_hover_text_color>
				<topmenu_line_color>#252525</topmenu_line_color>
				<topmenu_font>700 14px/1.35 Lato,Helvetica Neue, Helvetica, Arial, sans-serif</topmenu_font>
			</top_menu_group>
			<vnav_menu_group>
				<vnav_title_bg_color>#252525</vnav_title_bg_color>
				<vnav_title_text_color>#ffffff</vnav_title_text_color>
				<vnav_bg_color>#f8f8f8</vnav_bg_color>
				<vnav_hover_bg_color>#fedabf</vnav_hover_bg_color>
				<vnav_text_color>#434343</vnav_text_color>
				<vnav_hover_text_color>#e14040</vnav_hover_text_color>
				<vnav_line_color>#e8e8e8</vnav_line_color>
				<vnav_font>500 14px/1.35 Lato,Helvetica Neue, Helvetica, Arial, sans-serif</vnav_font>
			</vnav_menu_group>
			<dropdown_menu_group>
				<dropmenu_bg_color>#ffffff</dropmenu_bg_color>
				<dropmenu_text_color>#434343</dropmenu_text_color>
				<dropmenu_hover_text_color>#e14040</dropmenu_hover_text_color>
				<dropmenu_title_text_color>#282828</dropmenu_title_text_color>
				<dropmenu_line_color>#e8e8e8</dropmenu_line_color>
				<dropmenu_font>500 14px/1.35 Lato,Helvetica Neue, Helvetica, Arial, sans-serif</dropmenu_font>
			</dropdown_menu_group>
		</menu>
		<body>
			<body_group>
				<body_bg_color>#ffffff</body_bg_color>
				<body_box_bg_color>#ffffff</body_box_bg_color>
				<body_title_bg_color>#252525</body_title_bg_color>
				<body_title_block_bg_color>#f1f1f1</body_title_block_bg_color>
				<body_tab_bg_color>#ffffff</body_tab_bg_color>
				<body_tab_hover_bg_color>#ffffff</body_tab_hover_bg_color>
				<body_label_new_bg_color>#1585c7</body_label_new_bg_color>
				<body_label_hot_bg_color>#ff9301</body_label_hot_bg_color>
				<body_label_special_bg_color>#f60000</body_label_special_bg_color>
				<body_bg_image></body_bg_image>
				<body_bg_file></body_bg_file>
				<body_bg_position>0 0</body_bg_position>
				<body_bg_repeat>repeat</body_bg_repeat>
			</body_group>
			<body_color_group>
				<body_text_color>#a1a1a1</body_text_color>
				<body_title_page_text_color>#000000</body_title_page_text_color>
				<body_title_block_text_color>#434343</body_title_block_text_color>
				<body_box_title_text_color>#ffffff</body_box_title_text_color>
				<body_product_name_text_color>#434343</body_product_name_text_color>
				<body_price_text_color>#434343</body_price_text_color>
				<body_hover_text_color>#e14040</body_hover_text_color>
				<body_tab_text_color>#434343</body_tab_text_color>
				<body_tab_hover_text_color>#252525</body_tab_hover_text_color>
				<body_label_text_color>#ffffff</body_label_text_color>
				<body_line_color>#e1e1e1</body_line_color>
				<body_tilte_line_color>#252525</body_tilte_line_color>
			</body_color_group>
		</body>
		<footer>
			<footer_group>
				<footer_bg_color>#252525</footer_bg_color>
				<footer_bottom_bg_color>#000000</footer_bottom_bg_color>
				<footer_newsletter_bg_color>#ffffff</footer_newsletter_bg_color>
				<footer_bg_image></footer_bg_image>
				<footer_bg_file></footer_bg_file>
				<footer_bg_position>0 0</footer_bg_position>
				<footer_bg_repeat>repeat</footer_bg_repeat>
			</footer_group>
			<footer_color_group>
				<footer_text_color>#a1a1a1</footer_text_color>
				<footer_title_text_color>#ffffff</footer_title_text_color>
				<footer_link_color>#a1a1a1</footer_link_color>
				<footer_link_hover_color>#e14040</footer_link_hover_color>
				<footer_line_color>#222222</footer_line_color>
			</footer_color_group>
		</footer>
		<buttons>
			<button1_group>
				<btn1_bg_color>#000000</btn1_bg_color>
				<btn1_text_color>#ffffff</btn1_text_color>
				<btn1_line_color>#000000</btn1_line_color>
				<btn1_font>700 14px/1.35 Lato, Helvetica, Arial, sans-serif</btn1_font>
			</button1_group>
			<button2_group>
				<btn2_bg_color>#f1f1f1</btn2_bg_color>
				<btn2_text_color>#a1a1a1</btn2_text_color>
				<btn2_line_color>#f1f1f1</btn2_line_color>
				<btn2_font>700 14px/1.35 Lato, Helvetica, Arial, sans-serif</btn2_font>
			</button2_group>
			<button3_group>
				<btn3_bg_color>#000000</btn3_bg_color>
				<btn3_text_color>#ffffff</btn3_text_color>
				<btn3_line_color>#000000</btn3_line_color>
				<btn3_font>700 14px/1.35 Lato, Helvetica, Arial, sans-serif</btn3_font>
			</button3_group>
			<button4_group>
				<btn4_bg_color>#e79f65</btn4_bg_color>
				<btn4_text_color>#ffffff</btn4_text_color>
				<btn4_line_color>#e79f65</btn4_line_color>
				<btn4_font>700 16px/1.35 Lato, Helvetica, Arial, sans-serif</btn4_font>
			</button4_group>
			<button5_group>
				<btn5_bg_color>#000000</btn5_bg_color>
				<btn5_text_color>#ffffff</btn5_text_color>
				<btn5_line_color>#000000</btn5_line_color>
				<btn5_font>700 14px/1.35 Lato, Helvetica, Arial, sans-serif</btn5_font>
			</button5_group>
			<!--<button6_group>
				<btn6_bg_color>#ffffff</btn6_bg_color>
				<btn6_text_color>#e14040</btn6_text_color>
				<btn6_line_color>#e14040</btn6_line_color>
				<btn6_font>700 14px/1.35 Lato, Helvetica, Arial, sans-serif</btn6_font>
			</button6_group>-->
		</buttons>
		<product_grid>
		      <grid_desktop>
		            <grid_desktop_onecolumn>5</grid_desktop_onecolumn>
		            <grid_desktop_twocolumns>4</grid_desktop_twocolumns>
		            <grid_desktop_threecolumns>3</grid_desktop_threecolumns>
		      </grid_desktop>
	            <grid_desktop_small>
	                  <grid_small_desktop_onecolumn>4</grid_small_desktop_onecolumn>
	                  <grid_small_desktop_twocolumns>3</grid_small_desktop_twocolumns>
	                  <grid_small_desktop_threecolumns>2</grid_small_desktop_threecolumns>	                  
	            </grid_desktop_small>
	            <grid_tablet>
	                  <grid_tablet_onecolumn>3</grid_tablet_onecolumn>
	                  <grid_tablet_twocolumns>3</grid_tablet_twocolumns>
	                  <grid_tablet_threecolumns>2</grid_tablet_threecolumns>	                  
	            </grid_tablet>
	            <grid_mobile>
	                  <grid_items_mobile>2</grid_items_mobile>	                  
	            </grid_mobile>
	            <grid_element>
	                  <grid_alt_img>thumbnail</grid_alt_img>
                        <grid_image_ratio>1</grid_image_ratio>
	                  <grid_custom_ratio_width>1</grid_custom_ratio_width>
	                  <grid_custom_ratio_height>1</grid_custom_ratio_height>
	                  <grid_alt_img>thumbnail</grid_alt_img>
	                  <grid_show_thumbnail>1</grid_show_thumbnail>
	                  <grid_show_product_name>1</grid_show_product_name>
	                  <grid_auto_product_name>1</grid_auto_product_name>
	                  <grid_show_desc>1</grid_show_desc>
	                  <grid_show_price>1</grid_show_price>
	                  <grid_show_review>1</grid_show_review>
	                  <grid_show_addto>1</grid_show_addto>
	                  <grid_config_hover>1</grid_config_hover>
	            </grid_element>
		</product_grid>		      
		<product_list>		     
	            <list_element>
	                  <list_gutter>1</list_gutter>
	                  <list_image_ratio>1</list_image_ratio>
	                  <list_custom_ratio_width>1</list_custom_ratio_width>
	                  <list_custom_ratio_height>1</list_custom_ratio_height>
	                  <list_alt_img>thumbnail</list_alt_img>
	                  <list_show_thumbnail>1</list_show_thumbnail>
	                  <list_show_product_name>1</list_show_product_name>
	                  <list_auto_product_name>1</list_auto_product_name>
	                  <list_show_desc>1</list_show_desc>
	                  <list_show_price>1</list_show_price>
	                  <list_show_review>1</list_show_review>
	                  <list_show_addto>1</list_show_addto>
	            </list_element>
		</product_list>
		<product_detail>
			<detail_element>
				<show_sku>1</show_sku>
				<use_tabs>1</use_tabs>
			</detail_element>
			<detail_image>
				<main_image_width></main_image_width>
				<main_image_height></main_image_height>
				<thumb_image_width></thumb_image_width>
				<thumb_image_height></thumb_image_height>
			</detail_image>
			<moreview_options>
				<loop>true</loop>
				<caption>true</caption>
				<allowfullscreen>true</allowfullscreen>
				<navdir>horizontal</navdir>
				<transition_effect>slide</transition_effect>
				<transition_duration></transition_duration>
			</moreview_options>
		</product_detail>
	</default>
</config>
