footer#footer_wrapper {
  width: 100%;
  background-image: var(--irie-bg-hardwood);
}

footer div#footer_main,
footer div#footer_pre {
  padding-top: 15px;
  padding-bottom: 15px;
  /*Bottom shadow*/
  -webkit-box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.5);
}

footer div#footer_main {
  background: 
  /*Verticfal vignette*/ linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.55)
    ),
    /*Red-Green-Yellow gradient*/
      linear-gradient(
        hsla(150, 100%, 20%, 0.25),
        hsla(53, 100%, 40%, 0.25),
        hsla(0, 93%, 43%, 0.2)
      ),
    /*Circle vignette*/
      radial-gradient(
        circle,
        rgba(221, 209, 196, 0.35) 0%,
        rgba(0, 0, 0, 0.45) 65%
      );
  z-index: 1;
}

footer div#footer_pre {
  background: 
  /*Verticfal vignette*/ linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4)
    ),
    var(--irie-bg-whitewood);
}

footer div#footer_volunteer .btn {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #1c1f22;
}

footer div#footer_social {
  padding: 8px 0px 8px 0px;
  letter-spacing: -4px;
}

footer div#footer_social-button .bi {
  background: linear-gradient(
    hsla(150, 100%, 20%, 0.25),
    hsla(53, 100%, 40%, 0.25),
    hsla(0, 93%, 43%, 0.2)
  );
  font-size:24px;
  
}

footer a,
footer p {
  font-style: normal;
  color: white;
}
footer #footer_nav ul.pages {
  list-style: none;
  padding: 0px;
}
footer #footer_nav ul.pages li {
  padding: 5px 0px;
}
/*footer .footer-nav ul.pages a { color:rgba(255,255,255,1.00); letter-spacing: 1px; text-transform:uppercase;}
  footer .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none;}*/
footer #footer_nav ul.list {
  list-style: none;
  padding: 0px;
}
footer #footer_nav ul.list li {
  padding: 5px 0px;
}
/*footer .footer-nav ul.list a { color:rgba(255,255,255,0.80); }*/
footer .footer-nav ul.list a:hover {
  /*color:rgba(255,255,255,0.60);*/
  text-decoration: none;
}
