/*External Style Sheets*/
@import url('/src/css/typesetting.css'); /*Where fonts, sizing and styling for text is defined*/

/*-------Basic Stuff-------*/
html {overflow-y: scroll !important;}
body{
    background-image: url("/src/img/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

/*Edit Social Icons*/
.social:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
}
.social {
    -webkit-transform: scale(0.75);
    /* Browser Variations: */
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    /*color:#cf7553;*/
    color: #f2f2f2;
}

#banner{
    text-align: center;
    background-image: url(/src/img/banner_bg_top.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shaded{
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 10px,
        rgba(0, 0, 0, 0.3) 10px,
        rgba(0, 0, 0, 0.3) 20px
    )
}

/*Responsive Location Map*/
.map-responsive{
    border-radius: 10px;
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
    margin-bottom:25px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*Responsive Facebook Video*/
.facebook-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.facebook-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.row{
    margin-bottom: 25px;
}

.rounded {
    border-radius: .35rem!important;
}

.text-box{
    background-image:url('/src/img/paper-texture.jpg');
}
header a{
    padding-left: 8px;
    padding-right: 8px;
    content:"";
}

/*Leave some space between the content and the navbar+footer*/
.content{
    /*padding-top: 35px;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn p{
    margin-bottom:0.1rem;
    margin-top: 0.1rem;
}

/*-------Navbar Config-------*/
/*Align the shopping cart*/
.nav-fake{
    height:66px;
    background-image: linear-gradient(rgba(0, 133, 66, 0.25),rgba(255, 224, 0, 0.25),rgba(231, 0, 1, 0.25)),url(/src/img/hardwood-horizontal.jpg);
    box-shadow: 0 0px 12px 1px #1b1e21;
}

.nav-fake img{
    margin-top: 16px;
}
/*Navbar color rules*/
#navbar{    
    padding: .25rem;
    min-height:48px;
}
#navbar .navbar-brand{
    color: #EDCE4F;
    font-weight:bold;
}
#navbar .fa-language{
    font-size: 23px;
    vertical-align: middle;
    margin-right:3px;
}
#navbar .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .65);
    font-style: normal;
    font-size:1.1rem;
    color:aliceblue;
    height: 100%;
    line-height:32px;
}
@media only screen and (min-width: 768px){
    #navbar .navbar-nav .nav-link{
        font-size:0.95rem;
    }
}

#navbar .navbar-nav .nav-link:focus,
#navbar .navbar-nav .nav-link:hover {color: rgba(255, 255, 255, .75)}
#navbar .navbar-nav .active>.nav-link,
#navbar .navbar-nav .nav-link.active,
#navbar .navbar-nav .nav-link.show,
#navbar .navbar-nav .show>.nav-link {color: #fff;}
#navbar .navbar-nav .active>.nav-link::before {
    letter-spacing: 0.5px;
    content: "[";
}
#navbar .navbar-nav .active>.nav-link::after {
    letter-spacing: 0.5px;
    content: "]";
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {background-color: #4F0112;}
.nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-pills{text-align:center;}

/*Cast the shadow on the dropdown*/
.navbar-nav .dropdown-menu{box-shadow: 0 0px 12px 1px #1b1e21;}
/*Change the color of the dropdown menus*/
.navbar-nav > li > .dropdown-menu {
    background-image:none;
    background: transparent;
    padding-left: 12px;
    padding-right:12px;
    border: none;
    min-width: 3rem;
    white-space: nowrap;
    box-shadow: none;
}
/*Re-enable normal styling for tablet and up*/
@media (min-width: 992px) {
    .navbar-nav > li > .dropdown-menu{
        background-image: url(/src/img/hardwood-horizontal.jpg);  
        box-shadow: 0 0px 12px 1px #1b1e21;
    }     
}

.nav-link{padding: .1rem;}
/*---Footer Config---*/
footer{
    background-image:url(/src/img/hardwood-horizontal.jpg);
    color: rgba(255,255,255,1.00);
    box-shadow: 0 0px 12px 1px #1b1e21;
    padding-top:8px;  
    padding-bottom: 20px;
}

footer .row, footer p{margin:0;}

.btn-volunteer{
    background-color:#f2f2f2;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 11px;
    color: #1c1f22;
}

footer #btn-social{padding:8px 0px 8px 0px; letter-spacing:-4px;}
footer a {font-style:normal}
footer .footer-nav ul.pages { list-style:none; padding:0px; }
footer .footer-nav ul.pages li { padding:5px 0px;}
footer .footer-nav ul.pages a { color:rgba(255,255,255,1.00); letter-spacing: 1px; text-transform:uppercase;}
footer .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none;}
footer .footer-nav ul.list { list-style:none; padding:0px; }
footer .footer-nav ul.list li { padding:5px 0px;}
footer .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
footer .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }
.highlight-black{
    background-color: #1b1e21;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.55);
    color: white;
    padding: 5px;
    border-radius: .35rem;
    text-align:center;
}

/*Text over images*/
.img-container{
    position: relative;
    text-align: center;
}
.img-container .title{
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 2px 0 #212529, 2px -2px 0 #212529, -2px 2px 0 #212529, -2px -2px 0 #212529, 2px 0px 0 #212529, 0px 2px 0 #212529, -2px 0px 0 #212529, 0px -2px 0 #212529;
}

/* Bottom left text */
.img-container .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.img-container .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.img-container .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.img-container .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.img-container .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Centered text */
.img-container .top-centered {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-8px;, -50%);
}

/*MEDIA QUERRIES*/
/*ONLY RUN ON SMALL SCREEN*/
@media only screen and (max-width : 768px) {
    .display-7{
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: 10px;
        margin-top:10px;
        color: #4F0112;
    }
}
@media (min-width: 576px){
    .card-deck .card{margin-left:0;}
}
/*ONLY RUN ON BIG SCREENS*/
@media (max-width: 576px){
    #prices .price {
        font-size: 1.3rem;
    }
}

/*Fix shitty bootstrap cards*/

@media only screen and (min-width: 576px)
    .card-deck {
        margin-right: 0!important;
        margin-left: 0;
}

.border-lg{
    border-width: 4px!important;
}

#kc .bg-img,
#lineup .bg-img,
#artists .bg-img{background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)),url(/src/img/hardwood-horizontal.jpg);}
#kc .bg-text,
#lineup .bg-text,
#artists .bg-text{background-image: url('/src/img/paper-texture.jpg');}
#kc a, 
#lineup a{color:white; padding-top:0; padding-bottom:0.5rem;}
#kc p,
#lineup p{margin-bottom:0.5rem;} 
.trans-50 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.popover{
    background-image: url('/src/img/paper-texture.jpg');
    background-size:contain;
}
#TrimTheFootprint-tab .bg-img{background-image:url(https://www.sketchuptextureclub.com/public/texture_m/0027-old-wood-board-texture-seamless.jpg);}

#slider-wrapper {
    background-image:url(/src/img/hardwood-horizontal.jpg);
    box-shadow: 3px 3px 16px 0px rgba(42, 42, 42, 0.8);
    background-position: center;
}

.anchor-link {
    display: block;
    position: relative;
    top: -75px;
    visibility:hidden;
}

.text-box-2{background-image:url('/src/img/hardwood-horizontal.jpg'); padding:.5rem;}
.dropdown, .dropup{z-index:950}

#accomodation h3:not(.display-7){text-transform:uppercase}

header {
    background-image: linear-gradient(hsla(150, 100%, 20%, 0.25),hsla(53, 100%, 40%, 0.25),hsla(0, 93%, 43%, 0.20)),url(/src/img/hardwood-horizontal.jpg);
    background-position: center center;
    box-shadow: 0 0px 12px 1px #1b1e21;
    z-index:1010;
    position:relative;
    font-family: 'Roboto Mono', monospace;
}

.dropdown-toggle{padding-left:2px;}

.w-80{
    width:80%!important;
}

#home-text .text-warning{
    color: #e6b82e!important;
}

/*Font-awesome alignment*/
.fa-shopping-cart,
.fa-home{
    padding-top:0.2rem;
}