.box.wood{
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    border:10px solid;
    border-image-slice:28 27 34 27;
    border-image-width:10px;
    border-image-outset:0;
    border-image-repeat:stretch repeat;
    border-image-source: url(/src/img/border/hardwood.jpg);
    background-image: url(/src/img/background/paper.jpg);
    padding:10px;
}