/*-------Importing Icons-------*/
@import url('https://use.fontawesome.com/releases/v5.11.2/css/all.css');
@import url('/src/css/flags.css');
/*-------Importing Fonts-------*/
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('/src/css/fonts/tipi.css');

body{
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -0.042rem;
}

h1, h2, h3, h4, h5, h6{font-family: 'Dosis'; letter-spacing: 0.2px;}
.h1, .h2, .h3, .h4, .h5, .h6{font-family: 'Dosis'; letter-spacing: 0.2px;}

/*--Link styling--*/
a{color: #8e142f; font-style:italic; font-family: 'Roboto Mono', monospace;}
a:hover{color: #bc0939;}

.quote{
    font-family: 'Tipi Regular';
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.5px
        /*text-shadow: 2px 2px rgba(0,0,0,0.35);  */
}
@media screen and (min-width: 576px) {.quote{font-size:3.5rem;}} 
.btn a{color:white; font-style:normal}
.btn a:hover{text-decoration:none;}

/* Colours */

/*Override standard colours with irie colours*/

.text-sand{color: #d1bf87;}
.bg-sand{background-color: #d1bf87!important;}
.border-sand{border-color: #d1bf87!important;}
.btn-sand{color: #fff;background-color:#d1bf87;border-color:#d1bf87;}
.btn-sand:hover{color:white;background-color:#dacc9f; border-color:#dacc9f;}

.text-success{color: #669933!important;}
.bg-success{background-color: #669933!important;}
.border-success{border-color: #669933!important;}
.btn-success{color: #fff;background-color:#669933;border-color: #669933;}
.btn-success:hover{color:white;background-color:#85ad5c; border-color:#85ad5c;} 

.text-irie{color: #4F0112;}
.bg-irie{background-color:#4F0112;}
.border-irie{border-color:#4F0112!important;}
.btn-irie{color:white;background-color:#4F0112; border-color:#4F0112;}
.btn-irie:hover{color:white;background-color:#611a2a; border-color:#611a2a;}

.text-danger{color:#cc3300!important;}
.bg-danger{background-color:#cc3300!important;}
.border-danger{border-color:#cc3300!important;}
.btn-danger{color: #fff;background-color: #cc3300;border-color: #cc3300;}
.btn-danger:hover{color: #fff;background-color: #d65c33;border-color: #d65c33;}

.text-warning{color:#ffcc33!important;}
.bg-warning{background-color:#ffcc33!important;}
.border-warning{border-color:#ffcc33!important;}
.btn-warning{color:white;background-color:#ffcc33; border-color:#ffcc33;}
.btn-warning:hover{color: #fff;background-color: #ffdb70;border-color:#ffdb70;}

/*Popover*/.popover-body{ color:#4F0112;}

/*Extra Button type-setting*/

.btn-filter{background-image:url('/src/img/lined-paper-texture.jpg');background-size: contain;}
.btn-filter:hover{background-image:url('/src/img/lined-paper-texture-hover.jpg');background-size: contain;}

.btn-pill {
    border-radius: 50px;
    font-size:1.3em;
    padding: .65rem .9rem;
}

h1.page-header, .display-7{ /*display-7 for backward compat, deprecated*/
    border:1px solid;
    border-image-slice:65 76 69 80;
    border-image-width:20px 20px 20px 20px;
    border-image-outset:0px 0px 0px 0px;
    border-image-repeat:stretch stretch;
    border-image-source: url(/src/img/border/header.jpg);
    font-family: 'Tipi Regular';
    color: #4F0112;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin:.25rem;
    font-size:3rem;
    text-align:center;
    padding: 25px;
    display: inline-block;
    background-image: url(/src/img/background/wood-1.jpg);
    background-size:cover;
    min-width: 350px;
}