RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RedirectMatch 301 ^/$ /en/ 
RewriteCond %{HTTP_HOST} ^tickets.irievibes.be$
RewriteRule ^(.*)$ https://www.irievibes.be/en/tickets/ [R=301,L]
RewriteCond %{HTTP_HOST} ^en.irievibes.be$
RewriteRule ^(.*)$ https://www.irievibes.be/en/ [R=301,L]
RewriteCond %{HTTP_HOST} ^nl.irievibes.be$
RewriteRule ^(.*)$ https://www.irievibes.be/nl/ [R=301,L]
RewriteCond %{HTTP_HOST} ^fr.irievibes.be$
RewriteRule ^(.*)$ https://www.irievibes.be/fr/ [R=301,L]
RewriteCond %{HTTP_HOST} ^shop.irievibes.be$
RewriteRule ^(.*)$ https://www.irievibes.be/en/ [R=301,L]


Redirect 301 /src/static/grondplan_camping.pdf /src/static/groundplan_backtotheroots.pdf 
Redirect 301 /nl/festival/kortemark_conge/ /en/festival/kortemark_conge/
Redirect 301 /en/info/vrijwilligers/ /en/info/volunteers/
Redirect 301 /nl/info/volunteers/ /nl/info/vrijwilligers/

Redirect 302 /en/artists/ /en/
Redirect 302 /nl/festival/* /nl/

//Redirect old TTF to ECO TTF
RedirectMatch 301 /nl/info/trim-the-footprint/(.*) /nl/info/eco/trim-the-footprint//$1
RedirectMatch 301 /fr/info/trim-the-footprint/(.*) /fr/info/eco/trim-the-footprint//$1
RedirectMatch 301 /en/info/trim-the-footprint/(.*) /en/info/eco/trim-the-footprint//$1